<div class="container text-center" sytle="margin: 30px">
    <h3>Inventory Systema</h3>
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of product$ | async">
                <th scope="row"> {{ item.idProduct }}</th>
                <td>{{ item.description }}</td>
                <td>{{ item.price | currency }}</td>
                <td>{{ item.quantity }} </td>
                <td class="text-center">
                    <div>
                        <button (click)="editProduct(item.idProduct)"
                            class="btn btn-warning btn-sm me-3">Update</button>
                    </div>
                </td>

            </tr>

        </tbody>
    </table>
</div>